<launch>
    <node pkg="esdf_tools" type="test_pointcloud_raycasting" name="esdf" output="screen"
          required="true">
        <param name="resolution" value="0.2"/>
        <param name="min_ray_length_m" value="0.1"/>
        <param name="max_ray_length_m" value="8.0"/>
        <param name="update_mesh_every_n_sec" value="0.5"/>

        <!--Hash Table only-->
        <param name="reservedSize" value="1000000"/>

        <!--Array only-->
        <param name="lx" value="-1.0"/>
        <param name="ly" value="-1.0"/>
        <param name="lz" value="-1.0"/>
        <param name="rx" value="+1.0"/>
        <param name="ry" value="+1.0"/>
        <param name="rz" value="+1.0"/>

        <!--0 for no visulize-->
        <param name="visulize_every_n_updates" value="5"/>

        <param name="slice_vis" value="0.8"/>
        <param name="max_dist" value="2.0"/>

        <remap from="~pointcloud" to="/camera/depth/color/points"/>
        <remap from="~transform" to="/vins_estimator/camera_pose"/>
    </node>
</launch>